#animat{
    animation: color 6s infinite;
}
@keyframes color{
    0%{
        color: blue;
    }
    25%{
        color: blueviolet;
    }
    50%{
        color: cornflowerblue;
    }
    75%{
        color: color-mix(in hsl shorter hue, blue 30%, hsl(240, 54%, 49%) 50%);
    }
    100%{
        color: black;
    }
}