@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}
#brick{
    animation: float linear 10s infinite;
    background: hsl(300, 58%, 90%);
}